.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;


}
.listItem{
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0,0,0, 0.1);

}
.listName , .listLanguage{
    margin-right: 8px;

}
.listLink{
    display: block;
    background-color: var(--corPrincipal);
    color: var(--corsecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;

}
.input {
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
}

.label {
    display: block; 
    margin-bottom: 0.5rem; 
    font-weight: bold;
    margin-top: 3rem;
}